<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <title>Clubs points</title>
</head>
<body>
    <h1>GUDLFT</h1>
    <h2>Clubs points</h2>
    {% if all_clubs|length < 1 %}
        <p>Sorry, no clubs to display</p>
    {% else %}
        <table>
            <thead class="table_head">
                <tr>
                    <th>Club name</th>
                    <th>Points available</th>
                </tr>
            </thead>
            <tbody>
                {% for club in all_clubs %}
                    <tr>
                        <td>{{ club['name'] }}</td>
                        <td>{{ club['points'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>